h1{
    margin: 0px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #ffffff;
    background-color: #4aaaa5;
    position: relative;
    bottom: 30px;
}

body{
   
    color: #777777;
    padding:5px;
    position: relative;
    top: 50px;
    
    
}
.px{
    width: 960px;
     margin:0 auto;
}
.mainContentBackground{    
    background-image: url(../images/concrete_seamless.png);
    padding:10px;
}
.mainContentContainer{
    background-color: white;
    align-content: center;
    
}
.right{

    float:right;
    position: relative;
    bottom: 15px;
    left: -270px;

}
.left{
    float:left;
    left: 270px;
}
.standardMargin{
    margin:5px;
}
.noMargin{
    margin:0px;
    padding:0px;
}
.clear{
    clear:both;
}
p{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
 .border{
    border-color: #cccccc;
    border-width: 2px;
    background-color: #ffffff; 
    border-style: solid;
    padding: 0px;
    
}
footer{
    text-align: center;
    background-color: #666666;
    color: #ffffff;
    height: 30px;


}
img{
    float: left;
    margin: 5px;
    padding-right: 5px;
}
#bottom{
    background-color: #4aaaa5;
    height: 10px;
    position: relative;
    top: 19px;
}
.DifColor{
    color: #4aaaa5;
    text-align: left
}
.input-element{
    width: 736px;
}
.padding{
    padding: 10px;
}
li{
    background-color: #4aaaa5;
    width:65px;
}
.bottomMargin{
    margin-bottom: 0px;
}
.max{
    width:100%;
}
.pd{
    background-color: #ffffff;
}
.float-l{
    float: left;
  width: 50%;
}
.float-r{
    float: right;
  width: 50%;
}
ul {
    padding: 0;
    list-style-type: none;
    width:33%
}
.center{
    position: relative;
    align-content: center;
    right: -300px;
}
.tall{
    
}